doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Nodejs Thailand
  body
    .header
      h1.page-title Nodejs Thailand

    ul.nav
      li: a(href='/') Home
      li: a(href='https://www.docker.com') Docker Website
      li: a(href='https://nodejs.org/en/') NodeJS Website
      li: a(href='https://www.facebook.com/praparn.lungpoonlap') About Me
    
    .main-content
      block content

    .footer
      p Copyright © 2018 Praparn Luangphoonlap. Labdockerthailand ® is a Registered Trademark of Docker (un)Ltd. in the Earth and other solar systems.
